html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: normal;
}

header {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 100px;
    border-radius: 0 0 20px 20px;
    color: white;
    background-color: lightblue;
}

main {
    flex: 1 0 auto;
    height: auto;
}

footer {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px 20px 0 0;
    color: white;
    background-color: lightblue;
}

.photo {
    height: 300px;
    display: flex;
    align-items: center;
    
}

.photo > div {
    display: block;
    width: 680px;
}

img {
    width: 300px;
    margin: 0 20px 0 20px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: inherit;
}

b {
    font-weight: 500;
}

h2 {
    margin: 0px;
    font-weight: 500;
}

hr {
    border: none;
    height: 1px;
    background-color: lightgrey;
}

blockquote {
    margin-left: 0px;
    padding-left: 16px;
    border-left: 4px solid lightgrey;
    color: rgba(0, 0, 0, 0.7);
}